<a href="#main_content" id="skip_nav_link">Skip to content</a>
<div id="menu_toggle_container">
  <button class="hamburger" type="button" aria-label="Toggle the menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    <span class="hamburger-label">Menu</span>
  </button>
</div>

<nav role="navigation">
  <div>

    {%- if site.parent_site -%}
      <a href="{{site.parent_site.url}}" class="parent-site">
        <img src="{{ site.url }}/assets/images/{{ site.parent_site.logo }}" alt="{{ site.parent_site.title }}" />
      </a>
    {%- endif -%}

    {%- if site.logo -%}
      <a href="{{site.url}}" class="header-link">
        <img src="{{ site.url }}/assets/images/{{ site.logo }}" alt="Site Home" />
      </a>
    {%- else -%}
      <a href="{{site.url}}" class="header-link">Site Home</a>
    {%- endif -%}

  </div>

  <ul class="nav-list">
    {%- assign sections = site.collections | sort: 'section_order' -%}
    {%- for collection in sections -%}
      {%- if collection.label != 'posts' -%}
        {%- if page.collection == collection.label -%}
          <li class="current">
        {%- else -%}
          <li>
        {%- endif -%}
          <a href="{{site.url}}/{{collection.label}}" name="{{collection.label}}">{{ collection.name }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
