// body { background-color: blue; }
html {
  min-height: 100%;
  padding: 0;
  @include linear-gradient(135deg, darken($primaryColor, 50%), darken($primaryColor, 90%));
}
body {
  padding: 0;
  background-attachment: fixed;
  color: white;
  font-weight: 200;
  font-family: $base-font;
  font-size: 20px;
  margin: 0;
  line-height: 1;
  margin: 0 auto;
  max-width: 1100px;
}
main {
  padding: 0 1em 1em 1em;
}
* {
  text-transform: uppercase;
}
p {
  text-transform: none;
  padding: .25em 0;
  line-height: 1.3em;
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li { list-style: none;}
a {
  color: #ccc;
//   font-weight: 300;
}
header {
  padding: 3em 0;
  text-align: center;
  display: block;
//   @include linear-gradient(170deg, $primaryColor, darken($primaryColor, 14%));
  border-bottom: 2px solid $accentColor;
}
nav {
  margin-top: .5em;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 .5em;
      a {
        font-size: .9em;
        padding: .5em 1em;
        background-color: rgba(black, .1);
        display: block;
        text-decoration: none;
        font-weight: 400;
        border-width: 1px;
        border-radius: .5em;
        border-style: dotted;
        border-color: $accentColor;
        transition: background-color .3s;
        &:hover {
          background-color: rgba(white, .05);
          transition: background-color .3s;
        }
      }
      &.current {
        a {
          border-style: solid;
          background-color: rgba(white, .1);
        }
      }
    }
  }
}

ul.territories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: top;
  li {
    text-align: center;
    width: 25%;
    height: 150px;
    padding: .5em;
    box-sizing: border-box;
    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      &:hover {
        background: rgba(white, .1);
      }
    }
  }
}
