@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Londrina+Shadow&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&family=Shadows+Into+Light&family=Text+Me+One&display=swap');

$headerHeight: 80px;
$site-max-width: 1000px;

$base-font: 'Heebo', Helvetica, Arial, Sans-serif;
$header-font: Montserrat, Courier, Serif;

$primaryColor: {{ site.primary_color }};
$accentColor: {{ site.accent_color }};

@mixin linear-gradient($direction, $color1, $color2) {
  background: -webkit-linear-gradient(legacy-direction($direction), $color1 0%, $color2 100%);
  background: linear-gradient($direction, $color1 0%, $color2 100%);
}
